# Backend
onboarding-backend/.env
onboarding-backend/venv/
onboarding-backend/__pycache__/
**/__pycache__/
*.pyc

# Frontend
onboarding-frontend/.env
onboarding-frontend/node_modules/
onboarding-frontend/dist/

# Environment files
.env

# IDE
.vscode/
.idea/